.App {
    background-color: rgb(184, 209, 209);
    width: 50vw;
    height: 95vh;
    margin: 1% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
}

.lilithArea {
    border-radius: 5px;
    flex: 1;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgb(253, 253, 253);
}

img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.lilithArea img {
    object-fit: none;
    object-position: top;
    margin: 1vh 12px;
    box-shadow: 0px 1px 7px tan;
}

.lilithArea #description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: large;
    font-family: 'Roboto';
}

.messageArea {
    width: 100%;
    flex: 9;
    overflow-y: auto;
}

.messageArea div {
    font-size: medium;
}

.sendArea {
    flex: 0.3;
    width: 100%;
    background-color: rgb(146, 170, 170);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sendArea form {
    flex: 10;
}

.sendArea button {
    font-size: medium;
}

.cleanButton {
    margin: 5px;
    margin-right: 0px;
}

.inputStyle {
    padding: 1%;
    background: none!important;
}

.inputStyle input {
    font-size: medium;
}